@model FirstWebApplication.ViewModels.RegisterViewModel

<h2>Register-user</h2>

<form asp-action="Register" asp-controller="Account" asp-anti-forgery="true">
    <div class="validation" asp-validation-summary="ModelOnly" />
    <div>
        <div>
            <label asp-for="Login">Enter your Login</label><br />
            <input type="text" asp-for="Login" />
            <span asp-validation-for="Login" />
        </div>
        <div>
            <label asp-for="Password">Password</label><br />
            <input asp-for="Password" />
            <span asp-validation-for="Password" />
        </div>
        <div>
            <label asp-for="PasswordConfirm">ConfirmPassword</label><br />
            <input asp-for="PasswordConfirm" />
            <span asp-validation-for="PasswordConfirm" />
        </div>
        <div>
            <label asp-for="Email">Email</label><br />
            <input asp-for="Email" />
            <span asp-validation-for="Email" />
        </div>
        <div>
            <label asp-for="FirstName">FirstName</label><br />
            <input asp-for="FirstName" />
            <span asp-validation-for="FirstName" />
        </div>
        <div>
            <label asp-for="LastName">LastName</label><br />
            <input asp-for="LastName" />
            <span asp-validation-for="LastName" />
        </div>
        <div>
            <label asp-for="Adress">Adress</label><br />
            <input asp-for="Adress" />
            <span asp-validation-for="Adress" />
        </div>
        <div>
            <label asp-for="Localization">Localization</label><br />
            <input asp-for="Localization" />
            <span asp-validation-for="Localization" />
        </div>
        <div>
            <input type="submit" value="Submit" />
        </div>
    </div>
</form>



<a asp-action="LogOut" asp-controller="Account">LogOut</a>