using FirstWebApplication.Models;
@model  IEnumerable<FirstWebApplication.Models.City>

@{
    ViewData["Title"] = "Get";
}

<h2>Get</h2>

<div>
    <h4>City</h4>
    <hr />
    @foreach(var item in Model)
    {
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => item.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => item.Name)
        </dd>
       @foreach(var venue in item.Venues)
    {
        <dt>
            @Html.DisplayNameFor(model => venue.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => venue.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => venue.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => venue.Address)
        </dd>
        }
    </dl>
    }
</div>
<div>
    |
    <a asp-action="Index">Back to List</a>
</div>
